html {
  background-image: url('tiles.png');
}
button{
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    background-color: rgb(127, 81, 53);
    border-style: solid;
    color: black;
    font-family: 'Roboto',sans-serif;
    width: 70px;
    height: 40px;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: rgb(65, 23, 0);
}
p span{ 
    background-color: grey; 
}
#Text{
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: #694938;
    background-image:url("divback.png");
    margin-right: 15%;
    margin-left: 15%;
}
a{
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    background-color: rgb(127, 81, 53);
    border-style: solid;
    color: black;
    font-family: 'Roboto',sans-serif;
    width: 70px;
    height: 40px;
    transition: .3s;
    cursor: pointer;
    padding: 8px 10px;
}